header{
  background-color: #F0F8FF;
  padding: 200px 0px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/flowers.JPG");
}

.nav-item {
  margin: 10px 16px;
}

h1 {
  color: white;
}

h5 {
  color: white;
}

.first-section img {
  height: 220px;
  width: 220px;
  border-radius: 50%;
}

.first-section {
  background-color: #F9F9F9;
  margin-top: 80px;
  margin-bottom: 80px;
}

body {
  background-color: #F9F9F9;
}

.second-section{
  background-color: #F0F8FF;
  background-image: url("../img/project-header.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: black;
  height: 425px;
}

.third-section{
  margin-top: 40px;
  margin-bottom: 80px;
}

.card {
  margin-left: 35px;
  margin-right: 35px;
}
