.section-title{
  background-color: #2F4F4F;
  padding: 34px 0;
}

.section-links{
  background-color: #B9FBE4;
  padding: 30px 0;
  font-size: 25px;
}

.linked{
  width: 120px;
  height: auto;
}

.git{
  width: 150px;
  height: auto;
}

.selfie{
  width: fix;
  height: 350px;
}

.image-container{
  justify-content: center;
  background-color: #B9FBE4;
  border-radius: 10%;
}

.overall{
  background-color: #B9FBE4;
}

.sec-bio{
  background-color: #B9FBE4;
  font-size: 15px;
}
